body {
  background-color: rgb(9, 0, 86);
  font-family: 'Advent Pro';
  width: 100%;
  height: 100%;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: rgb(181, 181, 169);
}

.card-spotlight-effect {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

.spotlight {
  pointer-events: none;
  position: absolute;
  inset: -1px;
  opacity: 0;
  transition: opacity 300ms;
}

/* Header */
      .top-right-buttons {
        display: flex;
        justify-content: right;
        align-items: center;
        align-content: center;
        margin-top: -40px;
      }

      .user-signed-in {
        display: flex;
      }

      .signout-button {
        border-radius: 5px;
      }

      .signout-button, .welcome-message {
        display: flex;
        flex-direction: column;
        padding: 5px;
        margin-right: 15px;
      }

      .headshot{
        height: 50vh;
        width: 20vw;
        display: flex;
        flex-direction: row;
      }

/* Home Page */
      .home-container {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        height: 100vh;
        margin-top: 90px;
      }

      .full-name {
        display: flex;
        font-size: 56px;
        margin-top: -50px;
      }

      .brand-statement {
        display: flex;
        width: 85vw;
        font-size: 24px;
        margin-top: -10px;
      }

      .home-photo {
        position: absolute;
        width: 60vw;
        height: 50vh;
        margin-top: 250px;
      }

/* About Me */
      .title-label {
        text-align: center;
        margin-top: 10px; 
        text-decoration: underline;
      }

      .aboutme-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 30px; 
        margin-left: 50px;
        font-size: 30px;
      }

      .about-me-main {
        flex: 0 0 60%; 
        margin-right: 20px; 
        text-align: justify; 
      }

      .headshot {
        width: 200px;
        height: auto;
        flex: 0 0 30%; 
        margin-top: 30px; 
        margin-right: 30px;
        padding-left: 50px;
      }

/* Projects */
      .projects-container {
        margin: 20px;
      }

      .project-container {
        display: flex;
        flex-wrap: wrap;
      }

      .projects-intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-size: 28px;
        margin-bottom: 5px;
      }

      .project1-container, .project1-container,
      .project3-container, .project4-container {
        display: flex;
        flex-direction: column;
      }

      .project-description-container {
        display: flex;
        flex-wrap: wrap;
      }

      .project-title {
        text-decoration: underline;
      }

      .project1-description, .project2-description,
      .project3-description, .project4-description {
        flex: 0 0 35%;
        margin-top: -40px;
        margin-right: 20px;
        font-size: 24px;
      }

      .swiper-container {
        width: 62%;
        height: 400px;
        justify-content: center;
        margin-bottom: 50px;
      }

      .swiper-main {
        display: flex;
        width: 95%;
      }

      .swiper-slide img {
        width: 30rem;
        height: 22rem;
        border: 1px solid rgb(181, 181, 169);
        border-radius: 2rem;
        object-fit: cover;
      }

      .swiper-slide-shadow-left,
      .swiper-slide-shadow-right {
        display: none;
      }

      .slider-controler {
        position: relative;
        height: 100%;
        bottom: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .slider-controler .swiper-button-next {
        left: 61% !important;
        transform: translateX(-58%) !important;
      }

      .slider-controler .slider-arrow {
        background: var(--white);
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 50%;
        left: 39%;
        transform: translateX(-42%);
        filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
      }

      .slider-controler .slider-arrow ion-icon {
        font-size: 2rem;
        color: #ffffff;
      }

      .swiper-button-next {
        margin-bottom: 50px;
      }

      .slider-controler .slider-arrow::after {
        content: '';
      }

      .swiper-pagination {
        position: relative;
        height: 100%;
        bottom: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .swiper-pagination .swiper-pagination-bullet {
        filter: drop-shadow(0px 8px 24px rgba(255, 255, 255, 0.1));
      }

      .swiper-pagination .swiper-pagination-bullet-active {
        background: var(--primary);
      }

      .project-divider {
        width: 100%;
        height: 1px;
        background-color: rgba(181, 181, 169, 0.5);
        margin: 20px 0;
      }

