/* Header */
.top-right-buttons {
  display: flex;
  justify-content: right;
  align-items: center;
  align-content: center;
  margin-top: -40px;
}

.user-signed-in {
  display: flex;
}

.signout-button {
  border-radius: 5px;
}

.signout-button, .welcome-message {
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin-right: 15px;
}

.headshot{
  height: 50vh;
  width: 20vw;
  display: flex;
  flex-direction: row;
}